.Empty {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Empty p,
h1,
button {
  padding: 10px;
  font-weight: 100;
}
.Empty h1 {
  font-size: 50px;
}
.Empty p {
  font-size: 30px;
}
@media (max-width: 600px) {
  .Empty h1 {
    font-size: 30px;
  }
  .Empty p {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .Empty p {
    font-size: 17px;
    text-align: center;
  }
}
